# Environment config

# Please specify everything for your bot

# Note: .env is a shell file, so the can't be spaces around =

PREFIX=`
BOT_TOKEN=NzU3NTIwODM1OTkxODMwNTM5.X2hmQQ.2Li3mU5JXDQCgReuR2tmf_d5cdo
YTAPI_KEY=AIzaSyA5bHb8VS1mD9BC_qna-gmJUq3sQfAzWx8
PROJECT_DOMAIN=djvuss